.text {
    display:inline-block; margin-left: 40px;
}

.start {
    height: 50px;
    background-color: black;
    padding-left: 520px;
    padding-top: 30px;
    color: white;
}

.photo {
    padding-left: 170px;
    display: inline-block; vertical-align: 230px;
}

h1 {
    text-align: center;
    word-spacing: 22px;
}

.light {
    display: inline-block; vertical-align: 350px;
    padding-left: 580px;
    line-height: 54px;
}

.cs {
    background-color: orange;
    text-align: center;
    border: solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}






