.box {
    display: inline-block;
    border: 2px solid green;
    text-align: center;
    padding: 10px;
    padding-bottom: 18px;
    margin: 25px;
    width: 200px;
    height: 30px;
    font-size: 30px;
}

.sc{
    display: inline-block; 
    border: 2px solid red;
    width: 140px;
    height: 70px;
    text-align: center;
    padding-top: 25px;
    font-size: 30px;
    margin: 39px;
}
.js{
    border: 2px solid blue;
    width: 480px;
    height: 25px;
    text-align: 24px;
    padding: 10px;
    margin: 20px;
    font-size: 30px;

}

