.header {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.logo img {
    display: inline-block;
    vertical-align: 50px;
    padding-left: 100px;
}

.menu p {
    display: inline-block;
    vertical-align: 50px;
    line-height: 54px;
    padding-right: 150px;
    padding-top: 20px;
}

.text {
    padding-left: 50px;
}

.choose button {
    margin-left: 50px;
    border: 2px ridge blue;
    background-color: aqua;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
}

.photo img {
    margin: 30px 0px 30px 90px;
    padding-left: 50px;
    padding-right: 20px;
}

.photo {
    display: flex;
    width: 1400px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.TT p {
    display: flex;
    justify-content: center;
    padding-left: 110px;
    margin-top: 0px;
    font-size: 25px;
    color: brown;
}

.photo img:hover {
    transform: scale(1.15);
    transition-duration: 2s;
}
 
.footer {
    background-color:#ccc;
    text-align:center;
    padding-top:25px;
    padding-bottom: 25px;
    font-size:18px;
}

.basic {
    display: flex; 
    justify-content: center; 
    gap: 50px
}